.search {
    width: 100vw;
    flex: 1;
    background: #F1F6FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Hank Grotesk', sans-serif;
}

.query {
    margin: 25px;
    letter-spacing: 1px;
    font-weight: bold;
    font-style: italic;
    width: 75vw;
    text-align: center;
    overflow-wrap: break-word;
}

.loader {
  border: 8px solid #f3f3f3; /* fundo */
  border-top: 8px solid #3498db; /* azul giratório */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.navButtons {
  cursor: pointer;
  margin: 30px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.navButtons > p{
  background: #7395a7;
  padding: 5px 10px;
  border-radius: 15px;
}

.navButtons >p:hover {
  background: #94daff;
}