.user {
    flex: 1;
    background: #F1F6FF;
    display: flex;
    justify-content: center;
    font-family: 'Hank Grotesk', sans-serif;
}

.logo {
    width: 150px;
}

.box {
    margin-top: 55px;
    margin-bottom: 55px;
    background: #7395a7;
    width: 80vw;
    border-radius: 10px;
    filter: drop-shadow(1px 2px 6px rgba(0, 0, 0, 0.4));
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    align-items: center;
    position: relative;
    top: -50px;
    left: -50px;
}

.top > p {
    font-weight: bolder;
    font-size: 25px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    max-width: 60%;
    margin-top: 25px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    margin-left: 10vw;
    margin-top: -30px;
    margin-right: 10vw;
}

.nav > p {
    padding: 5px 15px;
    border-radius: 15px;
    border: 1px solid black;
    font-weight: bold;
}

.btn {
    background-color: #F1F6FF;
    color: #142933;
}

.btnOn {
    cursor: pointer;
    background-color: #142933;
    color: #F1F6FF;
}

.btnOn:hover {
    background-color: #32505e;
}

.btnOff {
    cursor: pointer;
    background-color: #F1F6FF;
    color: #142933;
}

.btnOff:hover {
    background-color: #8fadc4;
}

.titles {
    background-color: #ceeffd;
    padding: 10px 15px;
    display: block;
    margin: 20px 10%;
    height: 300px;
    overflow-y: scroll;
    border-radius: 15px;
}

.title {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 12px;
}

.title > p {
    text-overflow: ellipsis;
    max-width: 90%;
    white-space: nowrap;
    overflow-x: hidden;
    cursor: pointer;
}

.title > p:hover {
    text-decoration: underline;
}

.title > img {
    width: 20px;
    cursor: pointer;
    opacity: 50%;
}

.title > img:hover {
    opacity: 100%;
}

.deleteAccount{
    width: 30vw;
    align-self: center;
    margin-top: 5px;
    margin-bottom: 25px;
    padding: 5px;
    border-radius: 25px;
    border: none;
    background: rgb(236, 109, 109);
    font-weight: bold;
    cursor: pointer;
}

.deleteAccount:hover {
    background: rgb(170, 53, 53)
}